* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button.start,
button.stop {
  padding: 30px;
  border-radius: 15px;
  background-color: aqua;
  font-size: 20px;
  border: none;
}

.start {
  margin-top: 150px;
  margin-left: 570px;
  margin-right: 50px;
}

.timer {
  display: flex;
  gap: 20px;
}

.label {
  display: block;
  font-size: 20px;
  color: rgb(5, 21, 242);
}

.timer-btn {
  border: none;
  padding: 15px;
  border-radius: 50px;
  color: rgb(44, 34, 18);
  border: 2px solid rgb(5, 21, 242);
}

.datetime-picker {
  padding: 12px;
  border-radius: 50px;
  border: none;
  border: 2px solid rgb(5, 21, 242);
  outline: none;
}

.timer {
  font-size: 50px;
  color: rgb(5, 21, 242);
}

.form {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
}

input {
  margin-top: 10px;
  display: block;
  border-radius: 20px;
  border: none;
  border: 1px solid rgb(5, 21, 242);
  padding: 5px;
  outline: none;
}

.form-btn {
  padding: 10px;
  border: none;
  border: 2px solid rgb(5, 21, 242);
  border-radius: 30px;
}
